<div class="player">
    <div class="image">
        <img [src]="player.image" [alt]="player.name" />
    </div>
    <table class="player-info">
        <tbody>
            <tr>
                <th>Name</th>
                <td>: {{player.name}}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>: {{player.age}}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>: {{player.country}}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>: {{player.salary | currency}}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <button (click)="addSinglePlayer(player)" class='btn btn-primary add-button'>Add this player</button>
    </div>
</div>